body { font-family: Verdana, Arial, sans-serif; }

.background-container {
    background-image: url("../img/form-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
/*html, body, .background-container {*/
    /*height: 100%;*/
/*}*/

.container {
    /*min-width: 800px;*/
    border: 1px solid red;
    margin: 0 auto;
    max-width: 1200px;

}

/*.container2 {*/
    /*border: 1px solid red;*/
    /*margin: 0 auto;*/
    /*max-width: 1200px;*/
/*}*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.green-text {
    cursor: pointer;
    color: rgb(60, 184, 120);
}

.green-text:hover { border-bottom: 1px solid rgb(60, 184, 120); }


/* Header */

.header-container {
    padding: 15px 0 19px;
    background-color: rgba(0,0,0,.5);
    color: rgb(255, 255, 255);
}

.header-logo {
    padding-top: 3px;
    float: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo:hover {
    color: rgb(60, 184, 120);
}

.header-menu { float: right; }

.header-menu__registration {
    padding: 5px 0 4px 25px;
    border-left: 1px solid rgb(51, 48, 46);
    font-size: 14px;
}

.header-menu__icons, .header-menu__registration {
    vertical-align: top;
    display: inline-block;
}


/* Icons */

.icon {
    background: url("../img/icons/spritesheet.png") no-repeat;
    margin-right: 22px;
    display: inline-block;
    width: 32px;
    height: 22px;
}

.icon.icon-culc { background-position: -85px -9px; }

.icon.icon-culc:hover { background-position: -124px -9px; }

.icon.icon-forum { background-position: -168px -9px; }

.icon.icon-forum:hover { background-position: -216px -9px; }

.icon.icon-compass { background-position: -5px -9px; }

.icon.icon-compass:hover { background-position: -45px -9px; }


/* Main - Form*/


.main {
    margin: 5% 0;
    border: 1px solid red;
    /*padding: 5px 0;*/

}

.form-container {
    /*vertical-align: center;*/
    width: 444px;
    margin: 0 auto;
    /*margin: calc(5% + 30px) auto 5%;*/
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.form { padding: 30px 60px; }

.form-header{
    vertical-align: bottom;
    position: relative;
    margin-bottom: 15px;
}


.form-header__title { float: left; }

.form-header__subtitle {
    float: right;
    padding-top: 5px;
}

.form-header__subtitle { text-align: right; }

.form-header__square {
    top: 3px;
    left: -60px;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
}

.form-header__title { font-size: 20px; }

.form-header__subtitle  { font-size: 14px; }

.form__btn_social {
    display: inline-block;
    padding: 13px 16px;
    color: rgb(255, 255, 255);
    background-color:rgb(48, 93, 184);
    border: 1px solid rgb(48, 93, 184);
    border-radius: 5px;
    outline: 0;
    font-size: 16px;
}

.btn_social__icon {
    vertical-align: top;
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    font-family: 'Red Hat Text', sans-serif;
    border-right: 1px solid rgba(49,47,47,.3);
    padding-right: 16px;
}

.btn_social__icon_plus {
    font-size: 18px;
    padding-left: 2px;
}

.btn_social__icon_name {
    display: inline-block;
    padding-top: 2px;
    padding-left: 24px;
}

.btn_red {
    background-color: rgb(223, 74, 50);
    border: 1px solid rgb(223, 74, 50);
}

.form__divider {
    display: inline-block;
    padding: 16px 0 14px;
    color: rgb(132, 132, 132);
}

.from__decoration_line_left { margin-right: 12px; }

.from__decoration_line_right { margin-left: 12px; }

.from__decoration_line_left, .from__decoration_line_right {
    display: inline-block;
    border-top: 1px solid rgb(234, 234, 234);
    height: 5px;
    width: 135px;
}

.form__input_field {
    width: 322px;
    height: 46px;
    cursor: pointer;
    margin-bottom: 9px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 2px;
    text-indent: 17px;
    color: rgb(67, 67, 67);

}

.form__input_field[name="passwordConfirmed"] { margin-bottom: 15px; }

.form__input_field::placeholder { color: rgb(194, 194, 194); }

.form__input_field:focus {
        outline: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.3);;
}

.form__submit_btn {
    width: 322px;
    height: 46px;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(60, 184, 120);;
    border: 1px solid rgb(60, 184, 120);;
    border-radius: 4px;
    color: rgb(255,255,255);
}

.form__submit_btn:hover {
    background-color: rgb(50, 154, 101);
}

/* Checkbox */

.form__checkbox_container {
    margin-bottom: 25px;
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
}

.form__input_field_checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.form__checkbox_mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border:1px solid rgb(225, 225, 225);
    border-radius: 2px;
}

.form__checkbox_mark::after {
    content: "";
    display: none;
    position: absolute;
    top: 1px;
    left: 4px;
    width: 3px;
    height: 7px;
    border: solid rgb(60, 184, 120);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.form__input_field_checkbox:checked ~.form__checkbox_mark::after { display: block; }