* { box-sizing: border-box; }

body { font-family: Verdana, sans-serif; }

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1064px;
    margin: 0 auto;
}


/* Header */

.background-container {
    background: url("../img/background.png");
    width: 100%;
    height: 100vh;
    /*min-width: 1100px;*/
    background-size: cover;
    color: #ffffff;
    overflow: scroll;
}

.header-container {
    border: 1px solid red;
    padding-top: 49px;
    margin-bottom: 48px;
}

/* Header - Logo */

.header-logo {
    border: 1px solid red;
    float: left;
    padding-left: 60px;
    background-image: url("../img/icons/logo-icon.png");
    background-position: 0 2px;
    background-repeat: no-repeat;
    text-transform: uppercase;
}

.header-logo:hover {
    background-image: url("../img/icons/logo-icon-hover.png");
    color: #f26522;
}

.header-logo-title{
    display: block;
    font-weight: 700;
    font-size: 29px;
}

.header-logo-subtitle {
    display: block;
    margin-top: 1px;
    font-weight: bolder;
    font-size: 18px;
}


/* Header - Contacts*/

.header-contacts {
    border: 1px solid red;
    float: right;
    text-align: right;
    margin-top: 14px;
}

.header-contacts a { display: block; }

.header-contacts a:first-child { padding-bottom: 2px; }


/* Section Gallery */

.section-gallery { clear: both; }

.gallery-list-item {
    float: left;
    margin-bottom: 58px;
    margin-right: 64px;
    font-size: 18px;
    text-align: center;
}

.gallery-list-item:nth-child(3n) { margin-right: 0; }

.gallery-list-item a { display: block; }

.gallery-list-item a img {
    display: block;
    border: 2px solid;
    border-image-source: linear-gradient(#ffffff, rgba(0,0,0,0));
    border-image-slice: 1;
}

.image-container {
    overflow: hidden;
    position: relative;
}

.gallery-image-title { margin-top: 25px; }


/* Footer */

footer {
    clear: both;
    /*padding-top: 61px;*/
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
}


/* Hover Block */

.hover-block {
    visibility: hidden;
    transition-duration: 0.6s;
    position: absolute;
    width: 100%;
    top: 203px;
    left: 1px;
    text-align: left;
    padding: 16px 20px;
    background-color: #f26522;
    color: #ffffff;
}

.gallery-list-item a:hover .hover-block {
    top: 137px;
    visibility: visible;
}

.gallery-list-item a:hover { color: #f26522; }

.hover-block-price { margin-right: 115px }

.hover-block-price, .hover-block-details { display: inline-block; }

.hover-block-price p:first-child {
    margin: 0;
    padding-bottom: 5px;
    font-size: 10px;
}

.hover-block-price p:last-child{
    margin: 0;
    font-size: 20px;
}

.hover-block-details { font-size: 14px; }

.hover-block-details p::after {
    padding-left: 10px;
    opacity: 0.5;
    content: "\003E";
}