@font-face {
    font-family: Montserrat;
    src: url('./fonts/montserrat.woff') format("woff");
}

@font-face {
    font-family: MontserratLight;
    src: url('./fonts/montserratlight.woff') format("woff");
}

@font-face {
    font-family: MontserratBold;
    src: url('./fonts/montserratbold.woff') format("woff");
}

@font-face {
    font-family: MontserratHairLine;
    src: url('./fonts/montserrathairline.woff') format("woff");
}
