/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ GENERAL SETTINGS ~~~~~~~~~~~~~~~~~~~~ */
body {
    box-sizing: border-box;
    color: #4e4e4e;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    margin: 0 auto 10px;
    min-width: 1200px;
}

.content-wrapper {
    max-width: 1160px;
    margin: 0 auto;
}


.green-theme {
    color: #18cfab;
}


/* Section Title Styles*/

.section-title {
    padding: 70px 0 100px;
    text-align: center;
}

.section-title__title {
    position: relative;
    font-size: 28px;
    font-family: MontserratLight, sans-serif;
}

.section-title__title::before{
    content: '';
    position: absolute;
    top: 55px;
    left: 540px;
    display: inline-block;
    width: 70px;
    border-bottom: 1.5px solid #18cfab;
    border-radius: 2px;
}

.section-title__title::after{
    content: '';
    position: absolute;
    top: 60px;
    left: 560px;
    display: inline-block;
    width: 70px;
    border-bottom: 1.5px solid #18cfab;
}


/* Buttons Styles */

.btn {
    width: 155px;
    padding: 20px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 10px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-shadow {
    border-top: 3px solid #ffffff;
}

.btn-green {
    background-color: #18cfab;
}

.btn-green:hover {
    background-color: #18b895;
}

.btn-blue {
    background-color: #00cbf6;
}

.btn-blue:hover {
    background-color: #00b0d9;
}


/* Load more */

.load-more-gallery__button {
    text-align: center;
    padding: 100px 0;
}

.load-more-gallery-btn {
    position: relative;
    padding-right: 20px;
    font-family: MontserratBold,  sans-serif;
}

.load-more-gallery-btn::before {
    content: "+";
    top: 6px;
    left: 20px;
    position: absolute;
    font-size: 30px;
    color: #ffffff;

}


/* ~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~*/

.header {
    background-image: url("../img/backgrounds/section-1(header).jpg");
    background-size: 100% auto;
    background-attachment: fixed;
}

.header-nav-section {
    background-color: rgba(108, 116, 111, 0.56);
}

.nav-bar {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.logo-container {
    display: flex;
    align-items: center;
}


.logo-image {
    position: relative;
}

.logo-image::after {
    content: 'H';
    top: 15px;
    left: 16px;
    position: absolute;
    font-size: 34px;
    font-family: MontserratBold, sans-serif;
    color: #ffffff;
}

.logo-title {
    margin-left: 5px;
}

.logo-title__first-word {
    padding: 0 3px;
    font-family: MontserratLight, sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.logo-title__second-word{
    font-size: 28px;
    font-family: MontserratBold, sans-serif;
    color: #18cfab;
}



/* Menu */

.header-menu-container {
    display: flex;
    justify-content: space-between;
}

.header-menu-container__header-menu {
    display: flex;
    justify-content: space-between;
}


.header-menu__menu-item {
    padding: 0 15px;
}

.menu-item__link {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 11px;
    color: #b8b8b8;
    text-transform: uppercase;
}

.header-menu__search-container {
    font-size: 13px;
    color: #b8b8b8;
}

.fa-search {
    font-size: 18px;
}

.menu-item__link:hover,
.fa-search:hover {
    color: #18cfab;
}


/* Header Title */

.header-title-section {
    padding: 200px 0;
    background-color: rgba(255,255,255,.2);
}

.header-title-container {
    margin: 0 auto;
    text-align: center;
    width: 550px;
    color: #ffffff;
}

.header-title__suptitel {
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;
}

.header-title__main-title {
    margin-bottom: 20px;
    font-size: 55px;
    word-spacing: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-title__subtitel {
    margin-bottom: 90px;
    font-size: 24px;
    word-spacing: 2px;
    font-family: MontserratHairLine, sans-serif;
    text-transform: capitalize;
    color: #dfdfdf;

}

.header-buttons {
    margin: 0 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~ SECTION FACILITIES ~~~~~~~~~~~~~~~~~~~~~*/

.section-facilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-facilities__item {
    flex-grow: 1;
    padding: 100px;
    text-align: center;
}

.facilities-item__text {
    font-size: 14px;
    white-space: nowrap;
    text-transform: uppercase;
}

.facilities-item__img {
    margin-bottom: 25px;
    height: 60px;
}

.section-facilities__item:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 4px solid #18cfab;
    color: #18cfab;
}

.section-facilities__item:nth-child(even) {
    background-color: #18cfab;
    border-top: 4px solid #ffffff;
    color: #ffffff;
}


/*~~~~~~~~~~~~~~~~~~~~~~ SECTION SERVICES ~~~~~~~~~~~~~~~~~~~~~*/

.section-services-container {
    padding-bottom: 80px;
}

.services-list {
    display: flex;
    margin-bottom: 30px;
}

.services-list__item {
    position: relative;
    width: 192px;
    padding: 20px 20px;
    border: 1px solid #c0c4c6;
    background-color: #f8fcfe;
    text-align: center;
    white-space: nowrap;
    font-family: MontserratLight, sans-serif;
}

.activeTab {
    color: #ffffff;
    background-color: #18cfab;
    border-bottom: none;
}

.activeTab::after {
    content: '';
    transform: rotate(45deg);
    top: 40px;
    left: 80px;
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 10px solid #18cfab;
    border-top:none;
    border-left:none;
}


.services-description {
    display: flex;
    align-items: flex-start;
}

.services-description__img,
.services-description__text {
    display: none;
}


.services-active-img {
    display: block;
    margin-right: 25px;
}

.services-active-text {
    display: block;
    font-size: 13px;
    line-height: 1.7;
    text-align: justify;
    font-family: MontserratLight, sans-serif;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION PURCHASE ~~~~~~~~~~~~~~~~~~~~~~*/

.section-purchase {
    background-image: url("../img/backgrounds/section-2.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: top;
}

.section-purchase-container {
    padding: 100px 0 80px;
    background-color: rgba(0,0,0,.8);
}

.section-purchase__content-container {
    text-align: center;
}

.purchase-title {
    margin-bottom: 30px;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: MontserratBold, sans-serif;
}

.purchase-subtitle {
    margin-bottom: 55px;
    font-size: 15px;
    font-family: MontserratLight, sans-serif;
    color: #bcbcbc;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION WORKS ~~~~~~~~~~~~~~~~~~~~~~*/

.section-works {
    background-color: #f8fcfe;
    border-bottom: 1px solid #c0c4c6;
}


.works-list {
    display: flex;
    justify-content: center;
}

.works-list-container {
    height: 60px;
    margin-bottom: 40px;
}

.works-list__item {
    border: 1px solid #c0c4c6;
    padding: 20px 20px;
    white-space: nowrap;
    text-align: center;
    font-family: MontserratLight, sans-serif;
}

.works-list__item:hover {
    border-top: 1px solid transparent;
    box-shadow: 0 -2px 0 #18cfab;
    color: #18cfab;
}


/* Works gallery */

.works-gallery {
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
}

.works-gallery__item-img {
    display: block;
    height: 100%;
}

/* On Hover */

.works-gallery__item {
    overflow: hidden;
    position: relative;
}

.works-gallery__item-hover-box {
    position: absolute;
    top: 208px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    background-color: #f8fcfe;
    border-top: 3px solid  #18cfab;
}

.works-gallery__item:hover .works-gallery__item-hover-box {
    top: 0;
}

/* Hover Content */

.item-hover-box__circle-link {
    position: relative;
    display: inline-block;
    margin: 35px 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.item-hover-box__circle-link .fa {
    font-size: 18px;
    position: absolute;
    top: 15px;
    left: 16px;
}

.item-hover-box__circle-link .fa-link {
    color: #18cfab;
    transform: rotate(90deg);
}

.item-hover-box__circle-link .fa-search {
    color: #ffffff;
}

.circle-link-green {
    background-color: #18cfab;
    border: 2px solid #18cfab;
}

.circle-link-white {
    border: 2px solid #18cfab;
    background-color: #ffffff;
}

.item-hover-box__title {
    text-transform: uppercase;
    font-family: MontserratBold,  sans-serif;
    margin-bottom: 14px;
}

.item-hover-box__subtitle {
    font-size: 14px;
    font-family: MontserratLight, sans-serif;
}


.display-none-works-gallery {
    display: none;
}

.filter-display {
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION NEWS ~~~~~~~~~~~~~~~~~~~~~~*/

.section-news {
    padding-bottom: 40px;
}

.news-gallery {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.news-gallery__item-img {
    display: block;
}

.news-gallery__item {
    position: relative;
    margin-bottom: 45px;
}

.news-gallery__item-date {
    position: absolute;
    top:0;
    right: 0;
    width: 70px;
    padding: 8px 0 15px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #203e38;
    font-family: MontserratLight,  sans-serif;
}

.item-date__month {
    margin-top: 5px;
    display: block;
}

.news-gallery__item-content {
    text-indent: 10px;
    padding: 10px 0;
    border: 1px solid #c0c4c6;;
}

.news-gallery__item-title {
    color: #717171;
    font-family: MontserratBold, sans-serif;
    margin-bottom: 14px;
}

.news-gallery__item-subtitle {
    font-size: 13px;
    font-family: MontserratLight, sans-serif;
    color: #4e4e4e;

}

.item-subtitle__author {
    padding-right: 8px;
}

.item-subtitle__comments {
    padding-left:8px;
    border-left: 1px solid #4e4e4e;
}


.news-gallery__item:hover .news-gallery__item-date {
    background-color: #18cfab;
}

.news-gallery__item:hover .news-gallery__item-title {
    color: #18cfab;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION FEEDBACK ~~~~~~~~~~~~~~~~~ */

.section-feedback {
    background-image: url("../img/backgrounds/section-3.jpg");
    background-size: 100% auto;
}

.section-feedback-container {
    background-color: rgba(0,0,0,.4);
}


.feedback-content {
    text-align: center;
}

.feedback-title {
    color: #ececec;
}

.feedback-content__blockquote {
    margin-bottom: 20px;
}

.fa-quote-left {
    color: #18cfab;
    font-size: 35px;
}


/* ~~~~~~~  Slider ~~~~~~~ */

/* Single Slide*/

.feedback-content__text {
    margin-bottom: 30px;
    padding: 0 10px;
    font-size: 14px;
    font-family: MontserratLight, sans-serif;
    line-height: 1.8;
    color: #c0c4c6;
}

.feedback-content__author {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.feedback-content__position {
    margin-bottom: 30px;
    color: #c0c4c6;
    font-size: 13px;
    font-family: MontserratLight, sans-serif;
}

.feedback-content__avatar-container{
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid rgba(24, 183, 147, 0.23);
}

.feedback-content__avatar {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #18cfab;
    display: inline-block;
}


/* Slider - Navigation Menu */

.slick-track {
    padding-bottom: 30px;
}

.feedback-authors-list__author-item {
    outline: none;
    width: 20%;
}

.author-item__img-container {
    display: inline-block;
    border-radius: 50%;
}

.author-item__img {
    position: relative;
    top: 15px;
    border: 5px solid rgba(24, 183, 147, 0.23);
    border-radius: 50%;
}

.slick-current .author-item__img-container{
    position: relative;
    border: 5px solid rgba(24, 183, 147, 0.23);
    top: 0;
}

.slick-current .author-item__img {
    position: relative;
    border: 2px solid #18cfab;
    top: 0;
}



.prevBtn {
    position: relative;
    top: -68px;
    left: 80px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #c0c4c6;
    border: 1px solid #c0c4c6;
    font-size: 25px;
    padding-top: 2px;
}

.nextBtn {
    position: relative;
    top: -110px;
    left: 1050px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #c0c4c6;
    border: 1px solid #c0c4c6;
    font-size: 25px;
    padding-top: 2px;
}

.prevBtn:hover,
.nextBtn:hover {
    background-color: #18cfab;
    color: #ffffff;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~ SECTION IMAGES ~~~~~~~~~~~~~~~~~ */


.section-images {
    background-color: #f8fcfe;
}

.images-gallery__image-item {
    position: relative;
    margin-left: 12px;
    margin-bottom: 10px;
}

.sizer {
    width: 32%;
}

.image-item__img {
    width: 100%;
    display: inline-block;
}

.image-item-hover:hover .image-item__image-hover,
.image-item-hover-small:hover .image-item__image-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.5);
}


.image-item__image-hover .fa-search,
.image-item__image-hover .fa-recycle {
    display: none;
}

.image-item-hover:hover .image-item__image-hover .fa-search,
.image-item-hover:hover .image-item__image-hover .fa-recycle {
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    color: #ffffff;
    background-color: #14b9d5;

}

.image-item-hover-small:hover .image-item__image-hover .fa-search,
.image-item-hover-small:hover .image-item__image-hover .fa-recycle {
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    color: #ffffff;
    background-color: #14b9d5;

}

/* Inner Galleries */

.inner-images-gallery,
.inner2-images-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inner-images-gallery__image-item,
.inner2-images-gallery__image-item {
    position: relative;
    margin-left: 3px;
    margin-bottom: 3px;
}

.inner-image-item__img,
.inner2-image-item__img {
    width: 100%;
    height:100%;
    display: inline-block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~ */

.footer {
    background-color: #22353f;
}

.footer-content-container {
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    color: #b4b4b4;
    font-family: MontserratLight, sans-serif;
}