* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

a {
    color: #16a085;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar {
    text-align: center;
    padding: 30px 0;
 }

.nav-bar ul { list-style-type: none; }

.nav-bar li {
    display: inline-block;
    margin: 0 40px;
}

.image img {
    display: block;
    width: 100%;
}

.article {
    background-color: #f5f6f7;
    padding: 55px 150px 90px;
    text-align: center;
    color: #373737;
}

.article-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.article-content {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.6;
}

.article-btn {
    color: #fff;
    background-color: #16a085;
    padding: 22px 44px;
    border-color: #16a085;
    border-radius: 5px;
    text-transform: uppercase;
}

footer {
    color: #373737;
    padding: 45px 0;
}

.copyright {
    margin: 0 150px;
    text-align: right;
}
