html, body {
    font-family: 'Invisible', 'Lato', 'Open Sans', 'Courier',  sans-serif;

}
* {
    box-sizing: border-box;
}

*::selection {
    color: #16859d;
    background-color: rgba(240, 247, 249, 0.6);
}

button {
    cursor: pointer;
}
.top-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #18b4cf;
}

.wrapper {
    min-width: 1300px;
}

/* Header Top */

.top-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
    color: #ffffff;
}

.header-logo-wrapper {
    display: flex;
    cursor: pointer;
}

.icon-logo {
    padding: 25px;
    background-color: #1a1d20;

}

.icon-search {
    padding: 27px 29px;
    background-color: #1a1d20;
}

.fa.fa-search {
    cursor: pointer;
    font-size: 22px;

}

.fa.fa-search:hover {
    color: #169cb4;
}

.header-logo-text {
    padding: 30px 0;
    font-size: 22px;
    font-weight: bolder;
    text-indent: 6px;
    letter-spacing: 1px;
}

.header-logo-text:hover {
    color: #169cb4;
}


.navigation-menu {
    padding: 30px 0;
}

.nav-bar-wrapper  {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.nav-bar__link {
    padding: 18px;
    font-size: 15px;
    color: #ffffff;
}

.nav-bar__link:hover {
    color: #169cb4;
}

/* Header Bottom */


.bottom-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../img/background/header-bg.jpeg");
    background-position: bottom center;
    opacity: 0.9;
    background-attachment: fixed;
    background-size: cover;
}

.bottom-header {
    z-index: 1;
    padding: 145px 0;
    text-align: center;
    color: #ffffff;
}

.bottom-header__title {
    margin-bottom: 44px;
    font-size: 27px;
    text-transform: uppercase;
}

.btn {
    outline: none;
    color: #ffffff;
    font-size: 18px;
    width: 170px;
    height: 55px;
    border-radius: 5px;
}

.header-btn-green {
    margin-right: 10px;
    border: 1px solid #89ca62;
    background-color: #89ca62;
}

.header-btn-green:hover {
    border: 1px solid #407643;
    background-color: #407643;
}

.header-btn-blue {
    margin-left: 10px;
    border: 1px solid #14b9d5;
    background-color: #14b9d5;
}

.header-btn-blue:hover {
    border: 1px solid #0c7d8c;
    background-color: #0c7d8c;
}



/* Top Gallery */


.section-posts-container {
    width: 1170px;
    margin: 0 auto;
}


.section-posts {
    padding: 50px 0;
    background-color: #f2f2f2;
}

.section-post__title {
    margin-bottom: 50px;
    text-align: center;
}

.section-posts__posts-gallery {
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    flex-wrap: wrap;
    max-height: 900px;
}

.posts-gallery__post-item {
    text-align: center;
    margin: 15px;
}
.post-item__text {
    padding: 10px 0;
    font-weight: 900;
    color: #353a3d;
    background-color: #ffffff;
}




/* Section Clients */

.section-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/background/parallax-bg.jpeg");
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    padding: 200px 0;
}

.section-clients__title {
    margin-bottom: 55px;
    color: #ffffff;
}

.section-clients__decoration-line {
    margin-bottom: 55px;
    width: 60px;
    border-bottom: 3px solid #169cb4;
}

.section-clients__clients-list {
    display: flex;
    align-items: center;
}

.icon {
    background: url("../img/spritesheet.png") no-repeat;
    margin: 0 36px;
}

.icon-client1 {
    width: 207px;
    height: 28px;
    background-position: -10px -10px;
}

.icon-client2 {
    width: 135px;
    height: 49px;
    background-position: -10px -58px;
}

.icon-client3 {
    width: 172px;
    height: 42px;
    background-position: -10px -127px;
}

.icon-client4 {
    width: 141px;
    height: 52px;
    background-position: -10px -189px;

}



/* Section rated */

.section-rated {
    padding: 60px 0;
}

.section-rated__title {
    text-align: center;
    margin-bottom: 50px;
}

.section-rated__rated-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 271px) );
    justify-items: center;
    grid-auto-rows: 190px;

}


/* Section news */

.section-news__title {
    text-align: center;
    margin-bottom: 50px;
}

.section-news {
    padding-top: 60px;
    display: grid;
    width: 80%;
    margin: 0 auto 60px;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-gap: 30px 45px;
    justify-content: center;
    grid-template-areas:
            "title title title title"
            "item1 item1 item1 item2"
            "item3 item3 item4 item4"
            "item5 item5 item6 item6"
            "item7 item8 item8 item8";
}

.section-news__item {
    display: flex;
    flex-direction: column;
}


.section-news__title {
    grid-area: title;
}

.section-news__item {
    text-align: right;
    color: #353a3d;
}


.item1, .item8 {
    grid-area: item1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f9f7f7;
}

.item2 {
    grid-area: item2;
    text-align: center;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}


.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
    text-align: center;
}

.item8 {
    grid-area: item8;
}


.item__text-long {
    min-width: 250px;
    max-height: 100px;
    padding: 0 25px;

}

.item__text-long h3 {
    margin: 40px 0 22px;
    font-weight: 700;
}

.item__text-long p {
    line-height: 1.0;
    font-size: 14px;
}


.item__text-middle {
    padding: 0 25px 25px;
    background-color: #f9f7f7;
}

.item__text-middle h3 {
    margin: 21px 0 25px;
    font-weight: 700;
}

.item__text-middle p {
    line-height: 1.0;
    font-size: 14px;
}


.item__text-short {
    padding: 15px 0 15px;
    font-weight: 700;
    background-color: #f9f7f7;
}



/* Footer */

.footer {
    background-color: #1d2124;;
}

.footer-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    color: #ffffff;
}

.copy {
    font-size: 14px;
}

.footer-logo {
    display: flex;
}

.footer-logo__title {
    text-transform: uppercase;
    font-weight: 700;
    text-indent: 6px;
}

/* Toggle Button*/

.toggle-btn-container {
    display: flex;
    justify-content: center;
}

.toggle-btn {
    margin-bottom: 50px;
    border: 1px solid #89ca62;
    background-color: #89ca62;
}

.toggle-btn:hover {
    border: 1px solid #407643;
    background-color: #407643;
}

/* Button Up */

.btn-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 1px solid #14b9d5;
    background-color: #14b9d5;
}

.btn-up:hover {
    border: 1px solid #0c7d8c;
    background-color: #0c7d8c;
}