.header-logo-blue { color: #ff2a21;}

.navbar {
    background-color: #4f0002;
}

.navbar ul li a:hover {
    background-color: #390002;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.aside ul li a:hover {
    background-color: #dbc9bb;
}

.btn-color-change {
    background-color: #4f0002;
    color: #ffffff;
}

.btn-color-change:hover {
    background-color: #7a0002;
}

.footer-menu {
    background-color: #dbc9bb;
}


.footer-menu ul li a:hover { color: #ae576e; }

.footer-menu ul li:hover { border-bottom: 2px solid #ae576e; }