body {
    box-sizing: border-box;
    font-family: Myriad, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
}


/* Header */

.header { padding-top: 61px; }

.header-logo { font-size: 74px; }

.header-logo-blue { color: #4bcaff;}

.navbar {
    margin-top: 45px;
    background-color: #35444f;
    text-align: center;
}

.navbar-list { font-size: 0; }

.navbar ul li { display: inline-block; }

.navbar ul li a {
    display: block;
    padding: 26px 41px 21px;
    font-size: 22px;
    color: #ffffff;
}

.navbar ul li a:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

/* Section */

.main-section { padding-top: 51px;}

.main-container {
    font-size: 0;
}

.aside, .main {
    display: inline-block;
    vertical-align: top;
}

.aside{
    width: 344px;
    border: 1px solid #35444f;
}

.main {
    width: 885px;
    margin-left: 49px;
}

.aside ul li a {
    display: block;
    padding: 28px 129px 28px 69px;
    white-space: nowrap;
    font-size: 19px;
    color: #495863;
}

.aside ul li a:hover {
    padding-left: 75px;
    background-color: #dbdbdb;
    color: #000000;
}

.main-image-container {
    padding: 75px 0;
    border: 1px solid #35444f;
    text-align: center;
    vertical-align: center;
}

.main-image {
    width: 320px;
    transition: transform 1.5s; }

.main-image:hover { transform: scale(1.1); }

.main-text-container {
    margin: 50px 40px 51px 30px;
    font-size: 18px;
}

.main-text-container p:first-child { margin-bottom: 30px; }

/* Button Color Change*/

.btn-container {
    margin: 30px 0;
}

.btn-color-change {
    padding: 20px 30px;
    border: none;
    border-radius: 6px;
    background-color: #35444f;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.btn-color-change:hover {
    background-color: #526672;
}

/* Footer */

.footer { clear: both; }

.footer-menu {
    padding: 0 34px;
    background-color: #b4b7ba;
    overflow: hidden;
}


.footer-menu ul li {
    display: inline-block;
    margin-top: 22px;
    margin-right: 10px;
    padding-bottom: 3px;
    font-size: 20px;
    color: #0c1927;
}

.footer-menu ul li:hover {
    border-bottom: 2px solid #6597ae;
    color: #6597ae;
}

.footer-menu ul li a {
    color: #0c1927;
    text-align: center;
}

.footer-menu ul li a:hover { color: #6597ae; }


.footer-menu ul { float: left; }

.copyright-container {
    float: right;
    padding: 22px 0 21px 10px;
}

.copyright-container p { font-size: 20px; }