.text-field {
    border: 3px solid #ccc;
    outline: none;
    transition: 0.5s;
    border-radius: 5px;
    text-indent: 3px;
}

.price-value-container {
    margin: 10px 0;
}

.price-value {
    display: none;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 12px;
    color: grey;
    padding: 3px 10px 3px 25px;
    position: relative;
}

.price-cancel {
    display: inline-block;
    margin-right: 3px;
    border: 1px solid grey;
    border-radius: 50%;
    font-size: 8px;
    padding: 2px 4px;
    color: grey;
    position: absolute;
    top: 2px;
    left: 5px;
    cursor: pointer;
}

.price-cancel:hover {
    color: darkgray;
    border-color: darkgray;
}

.warning {
    margin: 10px 0;
    padding: 5px 0;
    color: red;
    visibility: hidden;
}

.error {
    margin: 10px 0;
    padding: 5px 0;
    color: red;
    visibility: hidden;
}