body {
    font-family: Arial, sans-serif;
}
.title {
    text-align: center;
}
.image-to-show {
    display: none;
    width: 400px;
    height: 400px;
}

.images-wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #0c7d8c;
    color: #ffffff;
    margin: 0 10px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0b5f6b;
}

