.table {
    font-family: 'Arimo', sans-serif;
    margin: 0 auto;
    text-align: center;
    border: 20px solid #3a4965;
    text-transform: uppercase;
    color: #484848;
}

th, td {
    padding: 27px 90px;
    border-left: 3px solid rgba(0,0,0,0.1);
}

.row__light_grey { background-color: #f2f2f2; }

.row__dark_grey { background-color: #e3e3e3; }

.fa {
    color: #848484;
    padding-right: 10px;
    font-size: 20px;
}

.header-col {
    font-weight: bolder;
    color: #ffffff;
}

.header-col.header-col-standard {
    background-color: #89c331;
    font-size: 24px;
}

.header-col.header-col-ultimate{
    background-color: #f04a56;
    font-size: 30px;
}

.header-col.header-col-premium {
    background-color: #20807c;
    font-size: 24px;
}

.header-subtitle {
    box-sizing: border-box;
    padding-top: 15px;
    margin-bottom: 3px;
    font-weight: bolder;
}

.header-title {
    font-weight: bolder;
    font-size: 26px;
}

.table-btn {
    white-space: nowrap;
    outline: 0;
    border-radius: 6px;
    padding: 16px 55px;
    color: #ffffff;
    text-transform: uppercase;
    transition: transform 2s;
}

.btn-row td:first-child { background-color: #dddddd;}

.btn-row td:nth-child(3) { background-color: #f4f4f4; }

.btn-row td:nth-child(even) {background-color: #eeeeee; }

.table-btn:hover { transform: scale(1.2); }

.table-btn__contact {
    background-color: #484848;
    border: 1px solid #484848;
    box-shadow: 0 5px 0 #404040;
}

.table-btn__standard {
    background-color: #89c331;
    border: 1px solid #89c331;
    box-shadow: 0 5px 0 #79b027;
}

.table-btn__ultimate {
    background-color: #f04a56;
    border: 1px solid #f04a56;
    box-shadow: 0 5px 0 #df3a46;
}

.table-btn__premium {
    background-color: #20807c;
    border: 1px solid #20807c;
    box-shadow: 0 5px 0 #16736f;
}

.price_int {
    font-weight: bolder;
    font-size: 60px;
}

.price_float {
    vertical-align: super;
    font-size: 24px;
}

.header-item {
    position: relative;
}

.price_title {
    top: 65px;
    right: 45px;
    position: absolute;
}